@using (Html.BeginForm())
{
    <table>
        <tbody>
            <tr class="form-group">
                <td>Username</td>
                <td>@Html.TextBox("Username", "", htmlAttributes: new { @class = "form-control" })</td>
            </tr>
            <tr class="form-group">
                <td>Password</td>
                <td>@Html.Password("Password", "", htmlAttributes: new { @class = "form-control" })</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Log In" class="btn btn-primary" />
}
