@using (Html.BeginForm())
{
    <table>
        <tbody>
            <tr>
                <td>Username</td>
                <td>@Html.TextBox("Username")</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.Password("Password")</td>
            </tr>
        </tbody>
    </table>
    <input type="submit" value="Log In" />
}
