<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title ?? "Products")</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <link rel="stylesheet" href="~/Content/Custom.css" />
</head>
<body>
    <div class="container px-5 py-5">
        @RenderBody()
    </div>
</body>
</html>
